* {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500 !important;
  font-style: normal !important;
}
.container {
  background-color: var(--white);
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.bottom_margin {
  margin-bottom: 10px;
}
.title {
  color: var(--errie-black);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 50px;
}
.sub_title {
  color: var(--rhine-castle);
  font-size: 14px;
  font-weight: 400;
}
.label {
  font-size: 14px;
  font-weight: 450;
  margin-bottom: 10px;
}
.error {
  color: var(--error);
}
.full_width {
  width: 100%;
}
.half_width {
  width: 48%;
}
.third_width {
  width: 40%;
}
.input_container_quadratic {
  width: 20%;
}
.input {
  width: 100% !important;
  padding: 11px 14px 11px 14px;
  border: 1px solid var(--dreamy-cloud);
  border-radius: 8px;
}
.input::placeholder {
  color: var(--placeholder-text);
}
.checkbox {
  cursor: pointer;
  width: 15px;
}
.brown_button {
  font-size: 14px;
  /* min-width: 200px; */
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
  color: var(--white);
  background-color: #0079c8;
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
}
.brown_button:hover {
  opacity: 0.8;
}
.grey_button {
  cursor: pointer;
  color: var(--black);
  background-color: var(--dr-white);
  padding: 13px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.footer_main {
  color: var(--rhine-castle);
}
.footer_sub {
  font-weight: bold;
  color: var(--brown);
  cursor: pointer;
}
.remember_me_line {
  display: flex;
  gap: 10px;
}
.remember_me_label {
  color: var(--rhine-castle);
}
.remember_me_link {
  margin-left: auto;
  cursor: pointer;
  color: var(--black);
}
/* Media query for screens smaller than 600px (e.g., smartphones) */
@media (max-width: 600px) {
  .half_width,
  .third_width {
    width: 100%;
  }

  .container {
    width: 250px;
  }
}

/* Media query for screens between 601px and 900px (e.g., tablets) */
@media (min-width: 601px) and (max-width: 900px) {
}

/* Media query for screens between 901px and 1200px (e.g., larger tablets and small desktops) */
@media (min-width: 901px) and (max-width: 1200px) {
}

/* Media query for screens larger than 1200px (e.g., large desktops) */
@media (min-width: 1201px) {
}

:root {
  --transparent: rgba(0, 0, 0, 0);
  --white: #ffffff;
  --dr-white: #fafafa;
  --black: #000000;
  --errie-black: #1b1b1b;
  --rhine-castle: #5f5f5f;
  --brown: #ad6b46;
  --off-white: #fff9f0;
  --light-grey: #f7f7f7;
  --pale-grey: #ededed;
  --dark-grey: #767676;
  --darkest-grey: #494949;
  --grey-text: #1b1b1bb2;
  --orange: #f9cc61;
  --line: #a4a4a4;
  --dark-charcoal: #323232;
  --unicorn-silver: #e8e8e8;
  --dreamy-cloud: #e5e7eb;
  --placeholder-text: #8d8d8d;
  --error: #f04438;
  --heavy-blue-grey: #a0a8b0;
}
* {
  user-select: none !important;
}
/* formik */

.error {
  color: var(--error);
  font-size: 0.75rem;
  text-align: left;
  /* margin-top: 0.25rem; */
}

.pick input:focus,
.pick select:focus {
  /* border-color: #4299e1 !important; */
  border: 1px solid #4299e1 !important;
}

.pick input.input-error,
.pick select.input-error,
.error-pick {
  border: 1px solid var(--error);
  /* margin-bottom: 0; */
}

button:disabled {
  opacity: 0.35;
}

input:disabled {
  color: rgb(159, 159, 159);
  background-color: #f1f1f1;
}

/* pdf */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: "Arial", sans-serif !important;
}

.hide_scrollbar::-webkit-scrollbar {
  width: 6px !important; /* Set to zero for hiding the scrollbar */
  height: 0px !important; /* Set to zero for hiding the scrollbar */
}

.hide_scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--brown); /* You can set a color for the thumb */
}

.hide_scrollbar::-webkit-scrollbar-track {
  background-color: #e5e7eb; /* You can set a color for the track */
}
th,
td {
  padding: 10px !important;
  min-width: 100px !important;
}
th {
  /* background-color: #6950e8 !important; */
  background-color: #000 !important;
  color: #fff !important;
}
/* general */
.green {
  color: green;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.black {
  color: black;
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 6px !important; /* Set to zero for hiding the scrollbar */
  height: 4px !important; /* Set to zero for hiding the scrollbar */
}
::-webkit-scrollbar-thumb {
  background-color: #000; /* You can set a color for the thumb */
}

::-webkit-scrollbar-track {
  background-color: #e5e7eb; /* You can set a color for the track */
}
